<div class="courses-section">
    <div class="container">
      <div class="course-grid">
        <!-- Boucle sur les cours paginés -->
        <div class="course-card" *ngFor="let course of paginatedCourses">
          <img [src]="'assets/images/'+getImageFileName(course.imagePath)" alt="{{ course.title }}">
          <h3>{{ course.title }}</h3>
          <p>{{ course.price }} DT/ Month</p>
        </div>
      </div>
      <!-- Contrôles de pagination -->
      <div class="pagination-controls">
        <button *ngFor="let page of pageNumbers()" (click)="goToPage(page)">
          {{ page }}
        </button>
      </div>
    </div>
  </div>
  