<!-- update-course.component.html -->
<div class="wrapper">
    <app-sidebar></app-sidebar>
    <app-top-header></app-top-header>
  
    <div class="page-content-wrapper">
      <div class="page-content">
        <!-- Breadcrumb -->
        <!-- ... -->
  
        <div class="card">
          <div class="card-body">
            <h5 class="mb-0">Update Course</h5>
            <form (ngSubmit)="onSubmit(courseForm)" #courseForm="ngForm" novalidate>
              
              <!-- Title Input -->
              <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" [(ngModel)]="course.title" required #title="ngModel">
                <div *ngIf="title.invalid && title.touched" class="text-danger">
                  Title is required.
                </div>
              </div>
  
              <!-- Price Input -->
              <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" class="form-control" id="price" name="price" [(ngModel)]="course.price" required #price="ngModel">
                <div *ngIf="price.invalid && price.touched" class="text-danger">
                  Price is required and must be a number.
                </div>
              </div>
  
              <!-- Image Input -->
              <div class="mb-3">
                <div class="form-group">
                    <label for="image" class="form-label">Image</label>
                    <input type="file" id="image" name="image" class="form-control" (change)="onFileChange($event)">
                    <!-- Pas besoin de ngModel ici, car les fichiers sont traités séparément -->
                  </div>
              </div>
  
              <!-- Submit Button -->
              <button type="submit" class="btn btn-primary" [disabled]="courseForm.invalid">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  