<body >

    <!-- Loader-->
    <div id="page-preloader">
        <div class="preloader-1">
            <div class="loader-text">Loading</div>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
            <span class="line line-4"></span>
            <span class="line line-5"></span>
            <span class="line line-6"></span>
            <span class="line line-7"></span>
            <span class="line line-8"></span>
            <span class="line line-9"></span>
        </div>

    </div>
    <!-- Loader end-->
    
    <div class="page-wrapper">
        <app-header></app-header>
        <div class="page-content">
            <main class="page-main">
                <!-- Swiper Slider Fullpage -->
                <div class="uk-grid" data-uk-grid >
                    <div class="uk-width-2-3@l uk-width-3-3@m uk-width-3-3@s">
                         <div class="js-recommend">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <!-- Slide 1 -->
                        <div class="swiper-slide" style="background-image: url('assets/images/home2.jpg');">
                            <div class="overlay">
                                <div class="text-container">
                                    <h2>Improve your skills on your own</h2>
                                    <h2>To prepare for a better future</h2>
                                    <a href="#" class="register-button">Register Now</a>
                        
                        
                                   
                                </div>
                            </div>                        
                        </div>

                        <!-- Slide 2 -->
                        <div class="swiper-slide" style="background-image: url('assets/images/home3.jpg');">
                            <div class="overlay">
                                <div class="text-container">
                                    <h2>Improve your skills on your own</h2>
                                    <h2>To prepare for a better future</h2>
                                    <a href="#" class="register-button">Register Now</a>
                        
                        
                                   
                                </div>
                            </div>                       
                         </div>

                        <!-- Slide 3 -->
                        <div class="swiper-slide" style="background-image: url('assets/images/home1.jpg');">
                            <div class="overlay">
                                <div class="text-container">
                                    <h2>Improve your skills on your own</h2>
                                    <h2>To prepare for a better future</h2>
                                    <a href="#" class="register-button">Register Now</a>
                        
                        
                                   
                                </div>
                            </div>                        </div>
                    </div>
                    <!-- Navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div> 
        </div>
     </div> 
               
                <br>
                <br>
                
                <div class="courses-section">
                    <h2>Discover Our Courses :</h2>
                    <a href="#" class="View-button">View More</a>
                </div>
                

                <br>
                <br>
                <div>
                    <app-list-courses></app-list-courses>
                     </div>

                <br>
                <br>


<!-- Contact Section -->

<app-contact-us></app-contact-us>

                <br>
                <br>
                <br>
    <app-footer></app-footer> 

            </main>
        </div>
       
    </div>
    <app-modals></app-modals>
</body> 