<body >

    <!-- Loader-->
    <div id="page-preloader">
        <div class="preloader-1">
            <div class="loader-text">Loading</div>
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
            <span class="line line-4"></span>
            <span class="line line-5"></span>
            <span class="line line-6"></span>
            <span class="line line-7"></span>
            <span class="line line-8"></span>
            <span class="line line-9"></span>
        </div>

    </div>
    <!-- Loader end-->

    <div class="page-wrapper">
   <app-header></app-header>
        <div class="page-content">
          
            <main class="page-main">
                <div class="uk-grid" data-uk-grid>
                    <div class="uk-width-2-3@l uk-width-3-3@m uk-width-3-3@s">
                        <div class="js-recommend">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="recommend-slide">
                                            <div class="tour-slide__box">
                                                <a href=""><img src="assets/img/t1.jpg" alt="banner"></a>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="recommend-slide">
                                            <div class="tour-slide__box">
                                                <h3 class="uk-text-lead">"Bizmatch: Où le B2B se transforme en opportunités d'affaires inégalées." </h3>
                       
                                                <a href=""><img src="assets/img/home3.png" alt="banner"></a>


                                            </div>
                                        </div>
                                    </div>


                                    <div class="swiper-slide">
                                        <div class="recommend-slide">
                                            <div class="tour-slide__box">
                                                <h3 class="uk-text-lead">"Rapprochez-vous, collaborez, triomphez: avec Bizmatch, le futur du B2B commence aujourd'hui." </h3>
                       
                                                <a href=""><img src="assets/img/home2.png" alt="banner"></a>

                                            </div>
                                        </div>
                                    </div>
                                     <div class="swiper-slide">
                                        <div class="recommend-slide">
                                            <div class="tour-slide__box">
                                                <h3 class="uk-text-lead">"Fusionnez visions et valeurs: Bizmatch, la révolution B2B est ici."</h3>
                       
                                            
                                                <a href=""><img src="assets/img/home1.png" alt="banner"></a>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swipper-nav">
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                </div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
                       
                <br>
                <br>
                <br>
                <br>
                <br>


                 <div>
               <app-list-courses></app-list-courses>
                </div>

                <br>
                <br>
                <br>
                <br>
                <br>
    <app-footer></app-footer> 

            </main>
        </div>
       
    </div>
   <app-modals></app-modals>
</body>