<div class="contact-section">
    <div class="contact-container">
        <h2>Contact Us</h2>
        <form class="contact-form">
            <input type="text" id="name" name="name" placeholder="Jiara Martins" required>
            <input type="email" id="email" name="email" placeholder="hello@reallygreatsite.com" required>
            <textarea id="message" name="message" placeholder="Write your message here" required></textarea>
            <button type="submit">Send the message</button>
        </form>
    </div>
</div>