<header class="page-header">
  <div class="page-header__inner">
      <div class="page-header__sidebar">
          <div class="page-header__menu-btn"><button class="menu-btn ico_menu is-active"></button></div>
          <div class="page-header__logo">
            <span class="page-header__logo_text">
                The 
                <img class="page-header__logo_img" src="assets/images/logo.png" alt="logo">
                ridge
            </span>
        </div>      </div>
      <div class="page-header__content">
          <div class="page-header__search">
          </div>   
        </div>
      </div>
</header>
